body {
  margin: 0px 150px 0px 150px;
  top: 0;
}

#title {
  margin-bottom: 10px;
}

#changeMovie {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #666666;
}

#changeMovie > span {
  margin-right: 8px;
}

.changeColor {
  color: #ff4256;
  font-weight: 500;
}

hr {
  border: solid;
  margin: 3px 0px 7px 0px;
}

input {
  width: 30%;
  margin-bottom: 7px;
}

#movieBox {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10px;
}

#movieInfo {
  margin: 15px 0px 15px 0px;
  min-width: 200px;
  min-height: 400px;
  color: #666666;
}

#movieInfo > div:first-child {
  margin-right: 20px;
  font-size: 22px;
  font-weight: bolder;
  color: #ff4256;
}

#movieName {
  margin: 10px 0px 7px 0px;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}

#movieDetail {
  margin-bottom: 3px;
  font-size: smaller;
}

img {
  display: block;
  min-width: 230px;
  min-height: 345px;
}
